name: Emacs 28 Spacemacs Cask

on:
  push:
    branches:
      - master
    paths:
      - "Casks/emacs-mac-28-spacemacs-icon.rb"
      - ".github/workflows/emacs28-spacemacs-cask.yaml"
  pull_request:
    paths:
      - "Casks/emacs-mac-28-spacemacs-icon.rb"
      - ".github/workflows/emacs28-spacemacs-cask.yaml"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-14
          - macos-15
          - macos-26
    steps:
      - uses: actions/checkout@v4

      - name: Install Cask
        run: brew tap railwaycat/emacsmacport .

      - name: Install Emacs-mac
        run: brew install --cask emacs-mac-28-spacemacs-icon

      - name: Test Binaries
        run: |
          $(brew --prefix)/bin/emacs --version
          $(brew --prefix)/bin/emacs --batch --eval='(print (+ 2 2))'
